// project colors
$color-secondary:         #62C02C;
$color-primary:           #0C2564;
$color-common:            #BBBBBB;
$color-download:          #669900;
$color-buy:               #99cc00;

// typography
$font-family-default:     'Open Sans', serif;
$line-height-default:     1.5;

$font-size-12:            12px;
$font-size-14:            14px;
$font-size-16:            16px;
$font-size-18:            18px;

// shadows
$box-shadow-focus:        0 0 0 0.2rem rgba(108, 205, 108, 0.5);